* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --blue: #1e90ff;
    --white: #ffffff;
}

html {
    font-size: 10px;
}

::before,
::after {
    box-sizing: border-box;
}

.no-color {
    background-color: none;
}

.banner-section {
    height: 400px;
    width: 100%;
    background-image: url(/images/banner-image.jpg);
    background-position: center;
    background-size: cover;
}


