@import "mixing_common_css_code";
@import "var_color_bg_color";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

// Accordion
.accordion-main {
  width: 80%;
  margin: auto;

  .accordion-iteam-main {
    position: relative;
    margin: 1rem 1rem;

    .accordion-lable {
      position: relative;
      padding: 1rem;
      background-color: #896c4c;

      color: $primary-heading-color;
      cursor: pointer;
      border-bottom: 1px solid black;

      &::before {
        content: "+";
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
        font-size: 1rem;
      }
    }

    .accordion-content {
      position: relative;

      height: 0;
      overflow: hidden;
      transition: 0.5s;

      .primary-para {
        padding: 2rem 2rem;
      }
    }

    &.active {
      .accordion-content {
        height: 120px;
      }

      .accordion-lable {
        &::before {
          content: "-";
        }
      }
    }
  }

  .active {
    display: block;
  }
}

// Sign post
.signpost-iteam {
  margin: 20rem auto;
  width: 33.33%;
  position: relative;

  .signpost-img {
    background-image: url(../images/signpost-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 250px;
    width: 100%;
  }

  .signpost-des {
    height: 50px;
    padding: 0.7rem 0.5rem;
    position: absolute;
    bottom: 0;
    background: #896c4c;
    transition: 0.5s;
    overflow: hidden;
  }

  .signpost-des {
    &:hover {
      display: block;
      height: 150px;
    }
  }
}

// Tab section
.tabs-main-block {
  height: 100vh;
  padding: 10rem 0;
  background-color: #896c4c;
  .tab-sub-block {
    .tab {
      .buttonlinks {
        &.active {
          background-color: rgb(252, 210, 156);
          color: black;
        }
        background-color: antiquewhite;
        color: black;
        padding: 1rem 2rem;
        border: none;
        font-size: 1.7rem;
      }
    }

    .btncontent {
      margin: 20px 0;
    }
  }
}
// Section Video POP

.videopop{
    margin:20rem;
    background-image: url(/images/signpost-1.jpg);
    height: 300px;
    width: 300px;
    margin: 0 auto;
    background-position: center;
    background-size: cover;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
